# Ignore everything

.vscode/
CMakeFiles/
build/
*.cmake
*.txt
*.exe
*.o
*.log
item.o
Makefile
DI_RPG
main.exe
main

#

# But not these files

!names.txt
!weapons.txt
!armors.txt
!potions.txt
!spells.txt

#